---
import "@styles/global.css";
import { Font } from "astro:assets";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import { resolvePath } from "@utils/path";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string | undefined;
  type?: "website" | "article" | string;
  mainClass?: string | undefined;
}

const {
  title = "PaperAir",
  description = "A simple blog",
  image,
  type = "website",
  mainClass = "max-w-5xl",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<script is:inline>
			const localTheme = localStorage?.getItem("theme");
			const mediaTheme = window.matchMedia("(prefers-color-scheme: dark)")
				.matches
				? "paperair-dark"
				: "paperair";
			const theme = localTheme || mediaTheme;
			document.documentElement.setAttribute("data-theme", theme);
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={resolvePath("favicon.svg")} />
		<link rel="sitemap" href={resolvePath("sitemap-index.xml")} />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={title}
			href={resolvePath("rss.xml")}
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content={type} />
		{image && <meta property="og:image" content={new URL(image, Astro.url)} />}
		<Font cssVariable="--font-cascadia-code" preload />
		<style is:global>
			:root {
				--font-mono: var(--font-cascadia-code), ui-monospace, monospace;
			}
		</style>
	</head>
	<body
		class="min-h-screen flex flex-col font-sans antialiased text-base-content selection:bg-primary/30 bg-base-200"
	>
		<Navbar />

		<main class={`grow w-full mx-auto px-4 sm:px-6 lg:px-8 ${mainClass}`}>
			<slot />
		</main>

		<Footer />
	</body>
</html>
